In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("data4.csv")

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               120 non-null    object
 1   region             120 non-null    object
 2   beverages_units    120 non-null    int64
 3   food_units         120 non-null    int64
 4   electronics_units  120 non-null    int64
 5   clothes_units      120 non-null    int64
 6   tools_units        120 non-null    int64
dtypes: int64(5), object(2)
memory usage: 6.7+ KB

In [4]:
data.describe()

,beverages_units,food_units,electronics_units,clothes_units,tools_units
count,120.000000,120.000000,120.000000,120.000000,120.000000
mean,84.225000,71.766667,84.575000,80.858333,72.075000
std,64.556205,56.199335,62.029224,62.400751,52.595837
min,3.000000,0.000000,0.000000,1.000000,0.000000
25%,34.750000,31.500000,34.750000,30.500000,25.750000
50%,62.000000,51.500000,73.500000,70.000000,67.500000
75%,126.000000,104.750000,126.500000,114.000000,106.750000
max,281.000000,259.000000,272.000000,230.000000,187.000000

In [5]:
data.head()

,date,region,beverages_units,food_units,electronics_units,clothes_units,tools_units
0,2020-06-01,SIN51,28,209,114,19,50
1,-,DUB53,33,149,31,90,9
2,-,IAD77,228,77,140,198,45
3,-,PDX79,269,24,16,225,67
4,2020-06-02,SIN51,281,89,74,19,3

In [6]:
data.loc[:, "total_products"] = data.loc[:, "beverages_units"] + data.loc[:, "food_units"] + data.loc[:, "electronics_units"] + data.loc[:, "clothes_units"] + data.loc[:, "tools_units"]

In [7]:
data.head()

,date,region,beverages_units,food_units,electronics_units,clothes_units,tools_units,total_products
0,2020-06-01,SIN51,28,209,114,19,50,420
1,-,DUB53,33,149,31,90,9,312
2,-,IAD77,228,77,140,198,45,688
3,-,PDX79,269,24,16,225,67,601
4,2020-06-02,SIN51,281,89,74,19,3,466

In [8]:
oregon = data.loc[:, "region"] == "SIN51"

In [9]:
oregon_data = data[oregon]

In [10]:
oregon_data.head()

,date,region,beverages_units,food_units,electronics_units,clothes_units,tools_units,total_products
0,2020-06-01,SIN51,28,209,114,19,50,420
4,2020-06-02,SIN51,281,89,74,19,3,466
8,2020-06-03,SIN51,131,32,128,180,81,552
12,2020-06-04,SIN51,58,4,58,49,22,191
16,2020-06-05,SIN51,54,65,50,47,120,336

In [11]:
oregon_data.tail()

,date,region,beverages_units,food_units,electronics_units,clothes_units,tools_units,total_products
100,2020-06-26,SIN51,24,108,77,66,105,380
104,2020-06-27,SIN51,58,155,53,80,67,413
108,2020-06-28,SIN51,54,38,43,36,58,229
112,2020-06-29,SIN51,46,36,21,139,128,370
116,2020-06-30,SIN51,21,1,60,220,59,361

In [12]:
oregon_data.loc[:, "total_products"].max()

666

In [13]:
max_date = oregon_data.loc[:, "total_products"] == 666

In [14]:
oregon_data[max_date]

,date,region,beverages_units,food_units,electronics_units,clothes_units,tools_units,total_products
96,2020-06-25,SIN51,30,242,171,107,116,666

In [15]:
data.loc[:, "clothes_units"].min()

1

In [16]:
min_clothes_units = data.loc[:, "clothes_units"] == 1

In [17]:
data[min_clothes_units]

,date,region,beverages_units,food_units,electronics_units,clothes_units,tools_units,total_products
18,-,IAD77,27,22,141,1,33,224
22,-,IAD77,57,1,3,1,87,149
35,-,PDX79,41,43,110,1,15,210
36,2020-06-10,SIN51,12,135,117,1,98,363

In [18]:
dublin = data.loc[:, "region"] == "DUB53"

In [19]:
dublin

0      False
1       True
2      False
3      False
4      False
       ...
115    False
116    False
117     True
118    False
119    False
Name: region, Length: 120, dtype: bool

In [21]:
dublin_data = data[dublin]

In [22]:
dublin_data.head()

,date,region,beverages_units,food_units,electronics_units,clothes_units,tools_units,total_products
1,-,DUB53,33,149,31,90,9,312
5,-,DUB53,79,8,45,98,56,286
9,-,DUB53,29,40,117,139,81,406
13,-,DUB53,10,63,41,210,109,433
17,-,DUB53,113,161,165,88,9,536

In [25]:
more_clothes = dublin_data.loc[:, "clothes_units"] > dublin_data.loc[:, "electronics_units"]

In [27]:
dublin_data[more_clothes].count()

date                 12
region               12
beverages_units      12
food_units           12
electronics_units    12
clothes_units        12
tools_units          12
total_products       12
dtype: int64

In [28]:
region_with_more_food = data.loc[:, "food_units"] > data.loc[:, "electronics_units"]

In [29]:
data[region_with_more_food]

,date,region,beverages_units,food_units,electronics_units,clothes_units,tools_units,total_products
0,2020-06-01,SIN51,28,209,114,19,50,420
1,-,DUB53,33,149,31,90,9,312
3,-,PDX79,269,24,16,225,67,601
4,2020-06-02,SIN51,281,89,74,19,3,466
6,-,IAD77,84,178,122,14,186,584
13,-,DUB53,10,63,41,210,109,433
16,2020-06-05,SIN51,54,65,50,47,120,336
20,2020-06-06,SIN51,76,157,2,17,164,416
25,-,DUB53,36,149,40,76,80,381
26,-,IAD77,156,83,79,159,105,582
29,-,DUB53,130,40,34,31,96,331
31,-,PDX79,21,86,33,194,38,372
33,-,DUB53,3,103,5,160,68,339
36,2020-06-10,SIN51,12,135,117,1,98,363
37,-,DUB53,72,80,76,71,17,316
40,2020-06-11,SIN51,67,21,9,51,98,246
45,-,DUB53,96,172,139,12,70,489
46,-,IAD77,158,127,82,158,3,528
47,-,PDX79,138,72,33,216,25,484
49,-,DUB53,75,87,60,21,96,339
50,-,IAD77,29,259,72,94,145,599
53,-,DUB53,44,127,60,36,14,281
57,-,DUB53,7,183,73,220,64,547
60,2020-06-16,SIN51,162,157,81,61,18,479
63,-,PDX79,62,114,39,18,180,413
64,2020-06-17,SIN51,160,148,126,117,54,605
66,-,IAD77,127,32,0,189,17,365
69,-,DUB53,87,52,28,104,83,354
73,-,DUB53,64,180,31,205,115,595
74,-,IAD77,124,18,17,181,187,527
76,2020-06-20,SIN51,48,36,22,128,80,314
79,-,PDX79,55,156,3,182,115,511
80,2020-06-21,SIN51,152,144,7,54,38,395
82,-,IAD77,143,72,17,54,27,313
85,-,DUB53,180,97,1,46,85,409
86,-,IAD77,112,43,8,113,158,434
93,-,DUB53,72,42,30,12,106,262
96,2020-06-25,SIN51,30,242,171,107,116,666
98,-,IAD77,256,9,4,27,82,378
100,2020-06-26,SIN51,24,108,77,66,105,380
101,-,DUB53,28,122,33,13,72,268
102,-,IAD77,223,60,5,7,9,304
104,2020-06-27,SIN51,58,155,53,80,67,413
107,-,PDX79,31,100,7,85,16,239
110,-,IAD77,6,4,1,35,0,46
111,-,PDX79,115,40,26,10,93,284
112,2020-06-29,SIN51,46,36,21,139,128,370
114,-,IAD77,125,135,30,81,128,499
115,-,PDX79,50,128,101,65,3,347

In [31]:
beverages_data = data.loc[:, "beverages_units"]

In [32]:
beverages_data.max()

281

In [33]:
beverages_data.describe()

count    120.000000
mean      84.225000
std       64.556205
min        3.000000
25%       34.750000
50%       62.000000
75%      126.000000
max      281.000000
Name: beverages_units, dtype: float64

In [38]:
beverage_75 = data.loc[:, "beverages_units"] > 84

In [39]:
data[beverage_75]

,date,region,beverages_units,food_units,electronics_units,clothes_units,tools_units,total_products
2,-,IAD77,228,77,140,198,45,688
3,-,PDX79,269,24,16,225,67,601
4,2020-06-02,SIN51,281,89,74,19,3,466
8,2020-06-03,SIN51,131,32,128,180,81,552
10,-,IAD77,261,2,19,39,165,486
15,-,PDX79,152,33,154,134,38,511
17,-,DUB53,113,161,165,88,9,536
19,-,PDX79,152,43,94,26,16,331
23,-,PDX79,116,84,172,41,43,456
26,-,IAD77,156,83,79,159,105,582
28,2020-06-08,SIN51,173,51,71,184,131,610
29,-,DUB53,130,40,34,31,96,331
41,-,DUB53,94,0,184,75,96,449
44,2020-06-12,SIN51,126,32,57,97,38,350
45,-,DUB53,96,172,139,12,70,489
46,-,IAD77,158,127,82,158,3,528
47,-,PDX79,138,72,33,216,25,484
48,2020-06-13,SIN51,167,53,122,31,88,461
51,-,PDX79,192,48,62,125,25,452
55,-,PDX79,153,107,213,111,94,678
60,2020-06-16,SIN51,162,157,81,61,18,479
64,2020-06-17,SIN51,160,148,126,117,54,605
65,-,DUB53,116,27,49,47,48,287
66,-,IAD77,127,32,0,189,17,365
67,-,PDX79,124,47,146,42,0,359
69,-,DUB53,87,52,28,104,83,354
70,-,IAD77,142,13,77,17,161,410
74,-,IAD77,124,18,17,181,187,527
80,2020-06-21,SIN51,152,144,7,54,38,395
82,-,IAD77,143,72,17,54,27,313
85,-,DUB53,180,97,1,46,85,409
86,-,IAD77,112,43,8,113,158,434
87,-,PDX79,253,33,42,52,15,395
89,-,DUB53,156,23,35,146,109,469
97,-,DUB53,107,90,169,78,63,507
98,-,IAD77,256,9,4,27,82,378
99,-,PDX79,200,13,59,2,2,276
102,-,IAD77,223,60,5,7,9,304
105,-,DUB53,159,66,134,77,32,468
111,-,PDX79,115,40,26,10,93,284
113,-,DUB53,126,46,101,69,153,495
114,-,IAD77,125,135,30,81,128,499
117,-,DUB53,129,128,167,60,16,500

In [41]:
beverages_frame = pd.DataFrame(beverages_data)

In [53]:
beverages_frame

     beverages_units
0                 28
1                 33
2                228
3                269
4                281
..               ...
115               50
116               21
117              129
118               63
119               45

[120 rows x 1 columns]

In [54]:
type(data)

pandas.core.frame.DataFrame

In [76]:
beverage_70 = data.loc[:, "beverages_units"].quantile(q=0.7)

In [77]:
beverage_70

115.3

In [79]:
beverage_70_upper_bound = data.loc[:, "beverages_units"].quantile(q=0.71)

In [80]:
beverage_70_upper_bound

116.0

In [84]:
the_quantile = (data.loc[:, "beverages_units"] >= 115) & (data.loc[:, "beverages_units"] < 116)

In [85]:
data[the_quantile]

,date,region,beverages_units,food_units,electronics_units,clothes_units,tools_units,total_products
111,-,PDX79,115,40,26,10,93,284

In [52]:
type(beverages_data)

pandas.core.series.Series

In [48]:
beverage_70_quantile = data.loc[:, "beverages_units"] == beverages_70

In [50]:
beverage_70_quantile

0      False
1      False
2      False
3      False
4      False
       ...
115    False
116    False
117    False
118    False
119    False
Name: beverages_units, Length: 120, dtype: bool