<a href="https://colab.research.google.com/github/laresamdeola/Data-Engineering-Analysis/blob/main/Data_Analysis_%26_Visualization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('kc_house_data.csv')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [31]:
data.mean(numeric_only=True)

id               4.580302e+09
price            5.400881e+05
bedrooms         3.370842e+00
bathrooms        2.114757e+00
sqft_living      2.079900e+03
sqft_lot         1.510697e+04
floors           1.494309e+00
waterfront       7.541757e-03
view             2.343034e-01
condition        3.409430e+00
grade            7.656873e+00
sqft_above       1.788391e+03
sqft_basement    2.915090e+02
yr_built         1.971005e+03
yr_renovated     8.440226e+01
zipcode          9.807794e+04
lat              4.756005e+01
long            -1.222139e+02
sqft_living15    1.986552e+03
sqft_lot15       1.276846e+04
dtype: float64

In [32]:
data.max()

id                    9900000190
date             20150527T000000
price                  7700000.0
bedrooms                      33
bathrooms                    8.0
sqft_living                13540
sqft_lot                 1651359
floors                       3.5
waterfront                     1
view                           4
condition                      5
grade                         13
sqft_above                  9410
sqft_basement               4820
yr_built                    2015
yr_renovated                2015
zipcode                    98199
lat                      47.7776
long                    -121.315
sqft_living15               6210
sqft_lot15                871200
dtype: object

In [34]:
data.sum(numeric_only=True)

id               9.899406e+13
price            1.167293e+10
bedrooms         7.285400e+04
bathrooms        4.570625e+04
sqft_living      4.495287e+07
sqft_lot         3.265069e+08
floors           3.229650e+04
waterfront       1.630000e+02
view             5.064000e+03
condition        7.368800e+04
grade            1.654880e+05
sqft_above       3.865249e+07
sqft_basement    6.300385e+06
yr_built         4.259933e+07
yr_renovated     1.824186e+06
zipcode          2.119759e+09
lat              1.027915e+06
long            -2.641409e+06
sqft_living15    4.293536e+07
sqft_lot15       2.759646e+08
dtype: float64

In [36]:
data.count()

id               21613
date             21613
price            21613
bedrooms         21613
bathrooms        21613
sqft_living      21613
sqft_lot         21613
floors           21613
waterfront       21613
view             21613
condition        21613
grade            21613
sqft_above       21613
sqft_basement    21613
yr_built         21613
yr_renovated     21613
zipcode          21613
lat              21613
long             21613
sqft_living15    21613
sqft_lot15       21613
dtype: int64

In [37]:
data.mode(numeric_only=True)

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,795000620.0,350000.0,3.0,2.5,1300.0,5000.0,1.0,0.0,0.0,3.0,7.0,1300.0,0.0,2014.0,0.0,98103.0,47.5322,-122.29,1540.0,5000.0
1,NaN,450000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.5491,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.6624,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.6846,NaN,NaN,NaN

In [39]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
id,21613.0,4.580302e+09,2.876566e+09,1.000102e+06,2.123049e+09,3.904930e+09,7.308900e+09,9.900000e+09
price,21613.0,5.400881e+05,3.671272e+05,7.500000e+04,3.219500e+05,4.500000e+05,6.450000e+05,7.700000e+06
bedrooms,21613.0,3.370842e+00,9.300618e-01,0.000000e+00,3.000000e+00,3.000000e+00,4.000000e+00,3.300000e+01
bathrooms,21613.0,2.114757e+00,7.701632e-01,0.000000e+00,1.750000e+00,2.250000e+00,2.500000e+00,8.000000e+00
sqft_living,21613.0,2.079900e+03,9.184409e+02,2.900000e+02,1.427000e+03,1.910000e+03,2.550000e+03,1.354000e+04
sqft_lot,21613.0,1.510697e+04,4.142051e+04,5.200000e+02,5.040000e+03,7.618000e+03,1.068800e+04,1.651359e+06
floors,21613.0,1.494309e+00,5.399889e-01,1.000000e+00,1.000000e+00,1.500000e+00,2.000000e+00,3.500000e+00
waterfront,21613.0,7.541757e-03,8.651720e-02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
view,21613.0,2.343034e-01,7.663176e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.000000e+00
condition,21613.0,3.409430e+00,6.507430e-01,1.000000e+00,3.000000e+00,3.000000e+00,4.000000e+00,5.000000e+00
grade,21613.0,7.656873e+00,1.175459e+00,1.000000e+00,7.000000e+00,7.000000e+00,8.000000e+00,1.300000e+01
sqft_above,21613.0,1.788391e+03,8.280910e+02,2.900000e+02,1.190000e+03,1.560000e+03,2.210000e+03,9.410000e+03
sqft_basement,21613.0,2.915090e+02,4.425750e+02,0.000000e+00,0.000000e+00,0.000000e+00,5.600000e+02,4.820000e+03
yr_built,21613.0,1.971005e+03,2.937341e+01,1.900000e+03,1.951000e+03,1.975000e+03,1.997000e+03,2.015000e+03
yr_renovated,21613.0,8.440226e+01,4.016792e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.015000e+03
zipcode,21613.0,9.807794e+04,5.350503e+01,9.800100e+04,9.803300e+04,9.806500e+04,9.811800e+04,9.819900e+04
lat,21613.0,4.756005e+01,1.385637e-01,4.715590e+01,4.747100e+01,4.757180e+01,4.767800e+01,4.777760e+01
long,21613.0,-1.222139e+02,1.408283e-01,-1.225190e+02,-1.223280e+02,-1.222300e+02,-1.221250e+02,-1.213150e+02
sqft_living15,21613.0,1.986552e+03,6.853913e+02,3.990000e+02,1.490000e+03,1.840000e+03,2.360000e+03,6.210000e+03
sqft_lot15,21613.0,1.276846e+04,2.730418e+04,6.510000e+02,5.100000e+03,7.620000e+03,1.008300e+04,8.712000e+05

In [41]:
data.describe(include='object')

                   date
count             21613
unique              372
top     20140623T000000
freq                142

In [27]:
type(data)

pandas.core.frame.DataFrame

Calculating the Mean/Average

In [7]:
price_mean = data.loc[:, 'price'].mean()
bedrooms_mean = data.loc[:, 'bedrooms'].mean()
bathrooms_mean = data.loc[:, 'bathrooms'].mean()
condition_mean = data.loc[:, 'condition'].mean()

In [13]:
print(f'Price Mean: {price_mean}\nBedrooms Mean: {bedrooms_mean}\nBathrooms Mean: {bathrooms_mean}\nCondition Mean: {condition_mean}')

Price Mean: 540088.1417665294
Bedrooms Mean: 3.37084162309721
Bathrooms Mean: 2.1147573219821405
Condition Mean: 3.4094295100171195

Calculating Sum

In [14]:
price_sum = data.loc[:, 'price'].sum()
bedrooms_sum = data.loc[:, 'bedrooms'].sum()
bathrooms_sum = data.loc[:, 'bathrooms'].sum()
condition_sum = data.loc[:, 'condition'].sum()

In [15]:
print(f'Price Sum: {price_sum}\nBedrooms Sum: {bedrooms_sum}\nBathrooms Sum: {bathrooms_sum}\nCondition Sum: {condition_sum}')

Price Sum: 11672925008.0
Bedrooms Sum: 72854
Bathrooms Sum: 45706.25
Condition Sum: 73688

Calculating Min

In [16]:
price_min = data.loc[:, 'price'].min()
bedrooms_min = data.loc[:, 'bedrooms'].min()
bathrooms_min = data.loc[:, 'bathrooms'].min()
condition_min = data.loc[:, 'condition'].min()

In [17]:
print(f'Price Min: {price_min}\nBedrooms Min: {bedrooms_min}\nBathrooms Min: {bathrooms_min}\nCondition Min: {condition_min}')

Price Min: 75000.0
Bedrooms Min: 0
Bathrooms Min: 0.0
Condition Min: 1

Calculating Max

In [20]:
price_max = data.loc[:, 'price'].max()
bedrooms_max = data.loc[:, 'bedrooms'].max()
bathrooms_max = data.loc[:, 'bathrooms'].max()
condition_max = data.loc[:, 'condition'].max()

In [21]:
print(f'Price Max: {price_max}\nBedrooms Max: {bedrooms_max}\nBathrooms Max: {bathrooms_max}\nCondition Max: {condition_max}')

Price Max: 7700000.0
Bedrooms Max: 33
Bathrooms Max: 8.0
Condition Max: 5

Calculating Median

In [22]:
price_median = data.loc[:, 'price'].median()
bedrooms_median = data.loc[:, 'bedrooms'].median()
bathrooms_median = data.loc[:, 'bathrooms'].median()
condition_median = data.loc[:, 'condition'].median()

In [23]:
print(f'Price Median: {price_median}\nBedrooms Median: {bedrooms_median}\nBathrooms Median: {bathrooms_median}\nCondition Median: {condition_median}')

Price Median: 450000.0
Bedrooms Median: 3.0
Bathrooms Median: 2.25
Condition Median: 3.0

Calculating Mode

In [24]:
price_mode = data.loc[:, 'price'].mode()
bedrooms_mode = data.loc[:, 'bedrooms'].mode()
bathrooms_mode = data.loc[:, 'bathrooms'].mode()
condition_mode = data.loc[:, 'condition'].mode()

In [25]:
print(f'Price Mode: {price_mode}\nBedrooms Mode: {bedrooms_mode}\nBathrooms Mode: {bathrooms_mode}\nCondition Mode: {condition_mode}')

Price Mode: 0    350000.0
1    450000.0
Name: price, dtype: float64
Bedrooms Mode: 0    3
Name: bedrooms, dtype: int64
Bathrooms Mode: 0    2.5
Name: bathrooms, dtype: float64
Condition Mode: 0    3
Name: condition, dtype: int64

Calculating Count

In [ ]:
price_max = data.loc[:, 'price'].max()
bedrooms_max = data.loc[:, 'bedrooms'].max()
bathrooms_max = data.loc[:, 'bathrooms'].max()
condition_max = data.loc[:, 'condition'].max()

In [ ]:
print(f'Price Min: {price_min}\nBedrooms Min: {bedrooms_min}\nBathrooms Min: {bathrooms_min}\nCondition Min: {condition_min}')

Calculating Describe

In [ ]:
price_max = data.loc[:, 'price'].max()
bedrooms_max = data.loc[:, 'bedrooms'].max()
bathrooms_max = data.loc[:, 'bathrooms'].max()
condition_max = data.loc[:, 'condition'].max()

In [ ]:
print(f'Price Min: {price_min}\nBedrooms Min: {bedrooms_min}\nBathrooms Min: {bathrooms_min}\nCondition Min: {condition_min}')